server:
  port: 8081

spring:
  application:
    name: auth-service

jwt:
  secret: 5tFLPY+5K2EjwG9adAuZTPMjddY30zoL7miRj/44BaY=
  timeout: 240 # in minutes
  refreshTimeout: 1440 # in minutes

---
spring:
  config:
    activate:
      on-profile: default, command, local
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

---
spring:
  config:
    activate:
      on-profile: production
  data:
    redis:
      host: dpvn-redis
      port: 6379

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://dpvn-eureka-server:8761/eureka
  instance:
    prefer-ip-address: true
